html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e9f6f8;
}
header {
  padding: 0 0px;
  background-image: url(images/th.png);
}
#header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(45deg, #0798abfa, transparent);
}
#header-info {
  flex: 1;
  padding: 10px;
  text-shadow: 1px 1px 2px #000000;
}
h1 {
  margin: 5px 0;
  color: #ffffff;
}
h2 {
  margin: 5px 0;
  color: #ffffff;
  font-weight: 100;
  font-size: 1.2em;
}
#my-picture {
  padding: 5px;
  width: 108px;
  height: 108px;
}
#my-picture img {
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #ffffff90;
}
body > section {
  flex: 1;
  padding: 15px;
}
footer {
  padding: 5px;
  text-align: center;
  background: #057988;
  color: white;
}
footer a,
footer a:visited {
  color: #f5f5f5;
  vertical-align: top;
  line-height: 20px;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 0.2em;
  transition: 0.5s;
}
footer a:hover {
  text-decoration: none;
  background-color: #0798ab;
}

#list {
  border-collapse: collapse;
  width: 100%;
}
#list th {
  background-color: #0798ab;
  color: white;
}
#list th,
#list td {
  border: 1px solid #057988;
  padding: 5px;
}
#list tr:nth-child(even) {
  background-color: #f2f2f2;
}
#list tfoot input[type="text"] {
  width: 100%;
}
#list tfoot input:not([type="image" i]) {
  box-sizing: border-box;
}
a.delete-row:hover {
  color: #b90303;
}
a.edit-row:hover {
  color: #039903;
}

a {
  color: #0096d6;
  text-decoration: none;
}
a:visited {
  color: #02638d;
}
a:hover {
  text-decoration: underline;
}

.description {
  margin: 0 0 0 25px;
  font-size: 0.9em;
  color: #3e3a3a;
}

.highlight {
  background-color: yellow;
}

.circle-bullet {
  display: inline-block;
  vertical-align: bottom;
  width: 16px;
  height: 16px;
  border: 1px solid #29a7e1;
  margin-right: 10px;
  border-radius: 50%;
}

.avatar-user {
  border-radius: 50%;
}
td .avatar-user {
  vertical-align: bottom;
}

.tbar {
  margin-bottom: 10px;
  display: flex;
  align-items: stretch;
}
.tfill {
  flex: 1;
}
.tbar label {
  padding: 0 5px;
}

.loading-mask {
  position: relative;
}
.loading-mask::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000040;
  /* rgba(0, 0, 0, 0.25) */
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading-mask::after {
  content: "💠";
  text-align: center;
  /* content: ""; */

  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: transparent #fff #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  animation: 2s linear 0s normal none infinite running spin;
  filter: drop-shadow(0 0 2 rgba(0, 0, 0, 0.33));
}
