html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  padding: 0 15px;
}
body > section {
  flex: 1;
  padding: 15px;
}
footer {
  padding: 5px;
  text-align: center;
  background: #00aeef;
  color: white;
}
footer a {
  color: white;
}

#list {
  border-collapse: collapse;
  width: 100%;
}
#list th {
  background-color: #00aeef;
  color: white;
}
#list th,
#list td {
  border: 1px solid #29a7e1;
  padding: 5px;
}
#list tr:nth-child(even) {
  background-color: #f2f2f2;
}
#list tfoot input[type="text"] {
  width: 100%;
}
.description {
  margin: 0 0 0 25px;
  font-size: 0.9em;
  color: #3e3a3a;
}

.highlight {
  background-color: yellow;
}

.circle-bullet {
  display: inline-block;
  vertical-align: bottom;
  width: 16px;
  height: 16px;
  border: 1px solid #29a7e1;
  margin-right: 10px;
  border-radius: 50%;
}
