html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #e9f6f8;
}
section {
  flex: 1;
}
header {
  background-image: url(images/th.png);
}
#header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(45deg, #0798abfa, transparent);
}
#header-info {
  flex: 1;
}
#my-picture {
  padding: 5px;
  width: 108px;
  height: 108px;
}
#my-picture img {
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #ffffff90;
}
#header-info {
  flex: 1;
  padding: 10px;
  text-shadow: 1px 1px 2px #000000;
}
h1 {
  margin: 5px 0;
  color: #ffffff;
}
h2 {
  margin: 5px 0;
  color: #ffffff;
  font-weight: 100;
  font-size: 1.2em;
}

section {
  padding: 15px;
}

#teamsTable {
  border-collapse: collapse;
  width: 100%;
}
#teamsTable tfoot input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

#teamsTable th,
#teamsTable td {
  border: 1px solid #057988;
  padding: 5px;
}
#teamsTable th {
  background-color: #0798ab;
  color: white;
}
#teamsTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

footer {
  text-align: center;
  padding: 5px;
}
