html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #e9f6f8;
}
body > section {
  flex: 1;
  padding: 15px;
}

header {
  background: url(images/th.png);
}
#my-picture {
  padding: 5px;
  width: 108px;
  height: 108px;
}
header img {
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #ffffff90;
}
#header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(45deg, #0798abfa, transparent);
}
#header-info {
  padding: 10px;
  text-shadow: 1px 1px 2px #000000;
}
h1 {
  color: white;
  margin: 5px 0;
}
h2 {
  color: white;
  margin: 5px 0;
  font-weight: 100;
  font-size: 1.2em;
}

footer {
  background-color: #057988;
  color: white;
  text-align: center;
  padding: 7px;
}

.tbar {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.tfill {
  flex: 1;
}
.tbar label {
  padding: 0 5px;
}

#teamsTable {
  width: 100%;
  border-collapse: collapse;
}
#teamsTable th,
#teamsTable td {
  border: 1px solid #057988;
  padding: 5px;
}

#teamsTable th {
  color: white;
  background: #0798ab;
}
#teamsTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
