table {
  border-collapse: collapse;
  width: 100%;
}
table th,
table td {
  border: 1px solid #29a7e1;
  padding: 5px;
}

table th {
  background-color: #00aeef;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tfoot input[type="text"] {
  width: 100%;
}
table tfoot input:not([type="image" i]) {
  box-sizing: border-box;
}

.link-btn {
  cursor: pointer;
  color: #0096d6;
}
.remove-btn:hover {
  color: #b90303;
}
.edit-btn:hover {
  color: #039903;
}
