html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background-color: #e9f6f8;
}

header {
  background-image: url(images/th.png);
  text-shadow: 1px 1px 2px #000000;
}
#header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(45deg, #0798abfa, transparent);
}

header img {
  border: 4px solid #fff;
  background-color: #ffffff90;
  border-radius: 50%;
  margin: 5px;
}

body > section {
  flex: 1;
  padding: 15px;
}

h1 {
  margin: 2px;
  color: #fff;
}
h2 {
  margin: 2px;
  color: #fff;
}

footer {
  background-color: rgb(7, 124, 139);
  color: #fff;
  text-align: center;
  padding: 7px;
}

.tbar {
  display: flex;
  padding: 0 0 5px 0;
}
.tfill {
  flex: 1;
}

#teamsTable {
  border-collapse: collapse;
  width: 100%;
}
#teamsTable th,
#teamsTable td {
  padding: 5px;
  border: 1px solid #057988;
}
#teamsTable th {
  background-color: #0798ab;
  color: #fff;
}
#teamsTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
